# SOME DESCRIPTIVE TITLE.
# Copyright (C) YEAR ORGANIZATION
# FIRST AUTHOR <EMAIL@ADDRESS>, YEAR.
#
msgid ""
msgstr ""
"Project-Id-Version: PACKAGE VERSION\n"
"POT-Creation-Date: Wed Feb 17 15:02:49 2010\n"
"PO-Revision-Date: YEAR-MO-DA HO:MI+ZONE\n"
"Last-Translator: Jacky MA <jackyma1981@gmail.com>\n"
"Language-Team: LANGUAGE <LL@li.org>\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=utf-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Generated-By: pygettext.py 1.5\n"


#: D:\projects\youmoney\ui\category.py:77
msgid "payout"
msgstr "支出"

#: D:\projects\youmoney\ui\category.py:78
msgid "income"
msgstr "収入"

#: D:\projects\youmoney\ui\category.py:218
#: D:\projects\youmoney\ui\category.py:228
#: D:\projects\youmoney\ui\dialogs.py:169 D:\projects\youmoney\ui\panels.py:86
#: D:\projects\youmoney\ui\statpanel.py:38
#: D:\projects\youmoney\ui\statpanel.py:86
#: D:\projects\youmoney\ui\window.py:11 D:\projects\youmoney\ui\window.py:247
#: D:\projects\youmoney\ui\window.py:254 D:\projects\youmoney\ui\window.py:270
msgid "Payout"
msgstr "支出"

#: D:\projects\youmoney\ui\category.py:218
#: D:\projects\youmoney\ui\category.py:228
#: D:\projects\youmoney\ui\dialogs.py:169 D:\projects\youmoney\ui\panels.py:88
#: D:\projects\youmoney\ui\statpanel.py:38
#: D:\projects\youmoney\ui\statpanel.py:88
#: D:\projects\youmoney\ui\window.py:11 D:\projects\youmoney\ui\window.py:253
#: D:\projects\youmoney\ui\window.py:267
msgid "Income"
msgstr "収入"

#: D:\projects\youmoney\ui\dialogs.py:44
msgid "Add income item"
msgstr "収入を追加"

#: D:\projects\youmoney\ui\dialogs.py:52
#: D:\projects\youmoney\ui\dialogs.py:108
#: D:\projects\youmoney\ui\panels.py:208
msgid "Date:"
msgstr "日付:"

#: D:\projects\youmoney\ui\dialogs.py:63
#: D:\projects\youmoney\ui\dialogs.py:116
#: D:\projects\youmoney\ui\dialogs.py:172
msgid "Category:"
msgstr "カテゴリ:"

#: D:\projects\youmoney\ui\dialogs.py:67
#: D:\projects\youmoney\ui\dialogs.py:125
msgid "Money:"
msgstr "金額:"

#: D:\projects\youmoney\ui\dialogs.py:70
#: D:\projects\youmoney\ui\dialogs.py:128
msgid "Explain:"
msgstr "内訳:"

#: D:\projects\youmoney\ui\dialogs.py:100
msgid "Add payout item"
msgstr "支出を追加"

#: D:\projects\youmoney\ui\dialogs.py:120
msgid "Payment:"
msgstr "支払方法:"

#: D:\projects\youmoney\ui\dialogs.py:121
#: D:\projects\youmoney\ui\panels.py:246 D:\projects\youmoney\ui\panels.py:277
#: D:\projects\youmoney\ui\window.py:12 D:\projects\youmoney\ui\window.py:369
msgid "Cash"
msgstr "現金"

#: D:\projects\youmoney\ui\dialogs.py:121
#: D:\projects\youmoney\ui\panels.py:248 D:\projects\youmoney\ui\panels.py:279
#: D:\projects\youmoney\ui\window.py:12
msgid "Credit Card"
msgstr "クレジットカード"

#: D:\projects\youmoney\ui\dialogs.py:161
#: D:\projects\youmoney\ui\window.py:142
msgid "Add Category"
msgstr "カテゴリを追加"

#: D:\projects\youmoney\ui\dialogs.py:168
msgid "Type:"
msgstr "種類:"

#: D:\projects\youmoney\ui\dialogs.py:176
msgid "Higher Category:"
msgstr "上級カテゴリ:"

#: D:\projects\youmoney\ui\drawstat.py:321
msgid "Time"
msgstr "時間"

#: D:\projects\youmoney\ui\drawstat.py:323
#: D:\projects\youmoney\ui\panels.py:211
msgid "Money"
msgstr "金額"

#: D:\projects\youmoney\ui\i18n.py:12
msgid "hello"
msgstr ""

#: D:\projects\youmoney\ui\i18n.py:13
msgid "me"
msgstr ""

#: D:\projects\youmoney\ui\panels.py:30 D:\projects\youmoney\ui\panels.py:210
#: D:\projects\youmoney\ui\panels.py:320
msgid "Category"
msgstr "カテゴリ"

#: D:\projects\youmoney\ui\panels.py:31
msgid "Month Total"
msgstr "今月総計"

#: D:\projects\youmoney\ui\panels.py:68 D:\projects\youmoney\ui\panels.py:202
msgid "Delete"
msgstr "削除"

#: D:\projects\youmoney\ui\panels.py:84 D:\projects\youmoney\ui\window.py:247
#: D:\projects\youmoney\ui\window.py:253 D:\projects\youmoney\ui\window.py:254
#: D:\projects\youmoney\ui\window.py:258 D:\projects\youmoney\ui\window.py:268
#: D:\projects\youmoney\ui\window.py:271
msgid "No Higher Category"
msgstr "上級のカテゴリがなし"

#: D:\projects\youmoney\ui\panels.py:108 D:\projects\youmoney\ui\panels.py:129
#: D:\projects\youmoney\ui\panels.py:132 D:\projects\youmoney\ui\panels.py:134
msgid "No Category"
msgstr "カテゴリがなし"

#: D:\projects\youmoney\ui\panels.py:109
msgid "Can not delete this category!"
msgstr "このカテゴリを削除できない"

#: D:\projects\youmoney\ui\panels.py:110 D:\projects\youmoney\ui\panels.py:117
msgid "Notice:"
msgstr "注意:"

#: D:\projects\youmoney\ui\panels.py:116
msgid ", all child categories will move to \"No Category\""
msgstr ", このカテゴリのすべてのチャルド\"カテゴリがなし\"へ移転"

#: D:\projects\youmoney\ui\panels.py:116
msgid "To delete category"
msgstr "カテゴリを削除"

#: D:\projects\youmoney\ui\panels.py:149
msgid "Delete category failure!"
msgstr "カテゴリを削除失敗！"

#: D:\projects\youmoney\ui\panels.py:149
msgid "Delete category information"
msgstr "カテゴリインフォメーションを削除"

#: D:\projects\youmoney\ui\panels.py:170
msgid " Date: "
msgstr " 日付: "

#: D:\projects\youmoney\ui\panels.py:172
msgid " Year: "
msgstr " 年: "

#: D:\projects\youmoney\ui\panels.py:174
msgid " Month:"
msgstr " 月: "

#: D:\projects\youmoney\ui\panels.py:175
msgid "  Sum: "
msgstr "  総計: "

#: D:\projects\youmoney\ui\panels.py:213
msgid "Payment"
msgstr "支払方法"

#: D:\projects\youmoney\ui\panels.py:214 D:\projects\youmoney\ui\panels.py:217
msgid "Explain"
msgstr "内訳"

#: D:\projects\youmoney\ui\panels.py:322
msgid "Payout List"
msgstr "支出リスト"

#: D:\projects\youmoney\ui\panels.py:324
msgid "Income List"
msgstr "収入リスト"

#: D:\projects\youmoney\ui\panels.py:328
msgid "Statistic"
msgstr "統計"

#: D:\projects\youmoney\ui\statpanel.py:16
#: D:\projects\youmoney\ui\statpanel.py:45
#: D:\projects\youmoney\ui\statpanel.py:105
#: D:\projects\youmoney\ui\statpanel.py:214
#: D:\projects\youmoney\ui\statpanel.py:215
msgid "All Categories"
msgstr "すべてのカテゴリ"

#: D:\projects\youmoney\ui\statpanel.py:30
msgid "Date Start:"
msgstr "開始日付:"

#: D:\projects\youmoney\ui\statpanel.py:33
msgid "  Date End: "
msgstr "  終了日付: "

#: D:\projects\youmoney\ui\statpanel.py:36
msgid "   Type "
msgstr " 種類 "

#: D:\projects\youmoney\ui\statpanel.py:38
msgid "Surplus"
msgstr "残金"

#: D:\projects\youmoney\ui\statpanel.py:43
msgid "   Category "
msgstr "  カテゴリ "

#: D:\projects\youmoney\ui\statpanel.py:50
msgid "Categroy Stat"
msgstr "分類"

#: D:\projects\youmoney\ui\statpanel.py:52
msgid "Month Stat"
msgstr "月額"

#: D:\projects\youmoney\ui\statpanel.py:213
msgid "Payout and Income"
msgstr "出入金"

#: D:\projects\youmoney\ui\window.py:54
msgid "You db file is in default path, strongly advise save it to other path."
msgstr "現在のデータベースファイルがインストールディレクトリに保存されていますので、ソフトをアンインストールしたり、システムを再インストールしたりよりデータをなくなる恐れがあるため、他の場所へ保存するのはお勧めです。"

#: D:\projects\youmoney\ui\window.py:54 D:\projects\youmoney\ui\window.py:445
msgid "Note:"
msgstr "注意:"

#: D:\projects\youmoney\ui\window.py:61
msgid "Database file: "
msgstr "データベースファイル: "

#: D:\projects\youmoney\ui\window.py:95
msgid "New database file"
msgstr "新規データベースファイル"

#: D:\projects\youmoney\ui\window.py:96
msgid "Open database file"
msgstr "データベースファイルを開く"

#: D:\projects\youmoney\ui\window.py:97
msgid "Database file save as"
msgstr "データベースファイルを名前付けて保存"

#: D:\projects\youmoney\ui\window.py:99
msgid "Exit"
msgstr "終了"

#: D:\projects\youmoney\ui\window.py:100
msgid "File"
msgstr "ファイル"

#: D:\projects\youmoney\ui\window.py:104
msgid "Simple Chinese"
msgstr "中国語"

#: D:\projects\youmoney\ui\window.py:105
msgid "English"
msgstr "英語"

#: D:\projects\youmoney\ui\window.py:106
msgid "Japanese"
msgstr "日本語"

#: D:\projects\youmoney\ui\window.py:109
msgid "Language"
msgstr "言語"

#: D:\projects\youmoney\ui\window.py:110
msgid "View"
msgstr "表示"

#: D:\projects\youmoney\ui\window.py:113
msgid "About Information"
msgstr "YouMoneyのバージョン情報"

#: D:\projects\youmoney\ui\window.py:114
msgid "About"
msgstr "ヘルプ"

#: D:\projects\youmoney\ui\window.py:143
msgid "Add Income"
msgstr "収入を追加"

#: D:\projects\youmoney\ui\window.py:144
msgid "Add Payout"
msgstr "支出を追加"

#: D:\projects\youmoney\ui\window.py:168
msgid "Choose database file:"
msgstr "データベースファイルを選択"

#: D:\projects\youmoney\ui\window.py:171 D:\projects\youmoney\ui\window.py:191
#: D:\projects\youmoney\ui\window.py:216
msgid "YouMoney Database (*.db)|*.db"
msgstr "YouMoney データベースファイル (*.db)|*.db"

#: D:\projects\youmoney\ui\window.py:200 D:\projects\youmoney\ui\window.py:227
msgid "File exist"
msgstr "ファイルを既に存在する"

#: D:\projects\youmoney\ui\window.py:200 D:\projects\youmoney\ui\window.py:227
#: D:\projects\youmoney\ui\window.py:232
msgid "Can not save database file"
msgstr "データベースファイルを保存できない"

#: D:\projects\youmoney\ui\window.py:232
msgid "Save databse file failture:"
msgstr "データベースファイルを保存失敗"

#: D:\projects\youmoney\ui\window.py:282
msgid "Add category failture:"
msgstr "カテゴリを追加失敗:"

#: D:\projects\youmoney\ui\window.py:282
msgid "Add category information"
msgstr "カテゴリインフォメーションを追加"

#: D:\projects\youmoney\ui\window.py:292
msgid "Change category failture:"
msgstr "カテゴリを変更失敗:"

#: D:\projects\youmoney\ui\window.py:292
msgid "Change category information"
msgstr "カテゴリインフォメーションを変更失敗"

#: D:\projects\youmoney\ui\window.py:301
msgid "Can not add income item"
msgstr "収入を追加できない"

#: D:\projects\youmoney\ui\window.py:301 D:\projects\youmoney\ui\window.py:364
msgid "Add category first!"
msgstr "カテゴリが無いため、カテゴリを追加してください!"

#: D:\projects\youmoney\ui\window.py:334
msgid "Add payout failture:"
msgstr "支出を追加できない:"

#: D:\projects\youmoney\ui\window.py:334
msgid "Add payout information"
msgstr "支出明細を追加"

#: D:\projects\youmoney\ui\window.py:352 D:\projects\youmoney\ui\window.py:416
msgid "Change income failture:"
msgstr "収入を変更失敗:"

#: D:\projects\youmoney\ui\window.py:352 D:\projects\youmoney\ui\window.py:416
msgid "Change income information"
msgstr "収入明細を変更"

#: D:\projects\youmoney\ui\window.py:364
msgid "Can not add payout item"
msgstr "支出を追加できない"

#: D:\projects\youmoney\ui\window.py:397
msgid "Add income failture:"
msgstr "収入を追加失敗:"

#: D:\projects\youmoney\ui\window.py:397
msgid "Add income information"
msgstr "収入明細を追加"

#: D:\projects\youmoney\ui\window.py:445
msgid "Language changed! You must restart youmoney !"
msgstr "言語を変更しました！再起動から生効！"

#: D:\projects\youmoney\ui\window.py:452
msgid "YouMoney is a opensource personal finance software write by Python language."
msgstr "YouMoneyはpythonの言語を使用して作られたオペンソースソフトです。"

#: D:\projects\youmoney\ui\window.py:454
msgid "YouMoney home page"
msgstr "YouMoneyのホームペッジ"

