# SOME DESCRIPTIVE TITLE.
# Copyright (C) YEAR ORGANIZATION
# FIRST AUTHOR <EMAIL@ADDRESS>, YEAR.
#
msgid ""
msgstr ""
"Project-Id-Version: PACKAGE VERSION\n"
"POT-Creation-Date: Wed Feb 24 12:03:47 2010\n"
"PO-Revision-Date: YEAR-MO-DA HO:MI+ZONE\n"
"Last-Translator: Jacky MA <jackyma1981@gmail.com>\n"
"Language-Team: LANGUAGE <LL@li.org>\n"
"MIME-Version: 1.0\n"
"Content-Type: text/plain; charset=utf-8\n"
"Content-Transfer-Encoding: 8bit\n"
"Generated-By: pygettext.py 1.5\n"


#: D:\projects\youmoney\ui\category.py:77
msgid "payout"
msgstr "支出"

#: D:\projects\youmoney\ui\category.py:78
msgid "income"
msgstr "収入"

#: D:\projects\youmoney\ui\category.py:218
#: D:\projects\youmoney\ui\category.py:228
#: D:\projects\youmoney\ui\dialogs.py:187 D:\projects\youmoney\ui\panels.py:86
#: D:\projects\youmoney\ui\statpanel.py:38
#: D:\projects\youmoney\ui\statpanel.py:46
#: D:\projects\youmoney\ui\statpanel.py:87
#: D:\projects\youmoney\ui\window.py:12 D:\projects\youmoney\ui\window.py:306
#: D:\projects\youmoney\ui\window.py:313 D:\projects\youmoney\ui\window.py:329
msgid "Payout"
msgstr "支出"

#: D:\projects\youmoney\ui\category.py:218
#: D:\projects\youmoney\ui\category.py:228
#: D:\projects\youmoney\ui\dialogs.py:187 D:\projects\youmoney\ui\panels.py:88
#: D:\projects\youmoney\ui\statpanel.py:38
#: D:\projects\youmoney\ui\statpanel.py:89
#: D:\projects\youmoney\ui\window.py:12 D:\projects\youmoney\ui\window.py:312
#: D:\projects\youmoney\ui\window.py:326
msgid "Income"
msgstr "収入"

#: D:\projects\youmoney\ui\dialogs.py:45
msgid "Add income item"
msgstr "収入を追加"

#: D:\projects\youmoney\ui\dialogs.py:53
#: D:\projects\youmoney\ui\dialogs.py:117
#: D:\projects\youmoney\ui\panels.py:208
msgid "Date:"
msgstr "日付:"

#: D:\projects\youmoney\ui\dialogs.py:64
#: D:\projects\youmoney\ui\dialogs.py:125
#: D:\projects\youmoney\ui\dialogs.py:190
msgid "Category:"
msgstr "カテゴリ:"

#: D:\projects\youmoney\ui\dialogs.py:68
#: D:\projects\youmoney\ui\dialogs.py:134
msgid "Money:"
msgstr "金額:"

#: D:\projects\youmoney\ui\dialogs.py:71
#: D:\projects\youmoney\ui\dialogs.py:137
msgid "Explain:"
msgstr "内訳:"

#: D:\projects\youmoney\ui\dialogs.py:75
#: D:\projects\youmoney\ui\dialogs.py:141
msgid "Not close dialog, continue."
msgstr "ダイアログ ボックスを閉じないで続けて入力してください"

#: D:\projects\youmoney\ui\dialogs.py:109
msgid "Add payout item"
msgstr "支出を追加"

#: D:\projects\youmoney\ui\dialogs.py:129
msgid "Payment:"
msgstr "支払方法:"

#: D:\projects\youmoney\ui\dialogs.py:130
#: D:\projects\youmoney\ui\panels.py:246 D:\projects\youmoney\ui\panels.py:277
#: D:\projects\youmoney\ui\window.py:13 D:\projects\youmoney\ui\window.py:430
msgid "Cash"
msgstr "現金"

#: D:\projects\youmoney\ui\dialogs.py:130
#: D:\projects\youmoney\ui\panels.py:248 D:\projects\youmoney\ui\panels.py:279
#: D:\projects\youmoney\ui\window.py:13
msgid "Credit Card"
msgstr "クレジットカード"

#: D:\projects\youmoney\ui\dialogs.py:179
#: D:\projects\youmoney\ui\window.py:141 D:\projects\youmoney\ui\window.py:201
msgid "Add Category"
msgstr "カテゴリを追加"

#: D:\projects\youmoney\ui\dialogs.py:186
msgid "Type:"
msgstr "種類:"

#: D:\projects\youmoney\ui\dialogs.py:194
msgid "Higher Category:"
msgstr "上級カテゴリ:"

#: D:\projects\youmoney\ui\dialogs.py:228
msgid "Update"
msgstr "更新"

#: D:\projects\youmoney\ui\dialogs.py:235
msgid "Found new version:"
msgstr "新しいバージョンを見つけた"

#: D:\projects\youmoney\ui\dialogs.py:236
msgid "Open download page"
msgstr "ダウンロードページを開けて"

#: D:\projects\youmoney\ui\dialogs.py:245
#: D:\projects\youmoney\ui\window.py:135
msgid "Set Password"
msgstr ""

#: D:\projects\youmoney\ui\dialogs.py:255
#: D:\projects\youmoney\ui\dialogs.py:288
msgid "Password:"
msgstr "暗号:"

#: D:\projects\youmoney\ui\dialogs.py:258
msgid "Password Again:"
msgstr ""

#: D:\projects\youmoney\ui\dialogs.py:278
msgid "User Password"
msgstr ""

#: D:\projects\youmoney\ui\drawstat.py:267
msgid "Sum: "
msgstr "総計: "

#: D:\projects\youmoney\ui\drawstat.py:336
msgid "Time"
msgstr "時間"

#: D:\projects\youmoney\ui\drawstat.py:338
#: D:\projects\youmoney\ui\panels.py:211
msgid "Money"
msgstr "金額"

#: D:\projects\youmoney\ui\i18n.py:12
msgid "hello"
msgstr ""

#: D:\projects\youmoney\ui\i18n.py:13
msgid "me"
msgstr ""

#: D:\projects\youmoney\ui\panels.py:30 D:\projects\youmoney\ui\panels.py:210
#: D:\projects\youmoney\ui\panels.py:320 D:\projects\youmoney\ui\window.py:145
msgid "Category"
msgstr "カテゴリ"

#: D:\projects\youmoney\ui\panels.py:31
msgid "Month Total"
msgstr "今月総計"

#: D:\projects\youmoney\ui\panels.py:68 D:\projects\youmoney\ui\panels.py:202
msgid "Delete"
msgstr "削除"

#: D:\projects\youmoney\ui\panels.py:84 D:\projects\youmoney\ui\window.py:306
#: D:\projects\youmoney\ui\window.py:312 D:\projects\youmoney\ui\window.py:313
#: D:\projects\youmoney\ui\window.py:317 D:\projects\youmoney\ui\window.py:327
#: D:\projects\youmoney\ui\window.py:330
msgid "No Higher Category"
msgstr "上級のカテゴリがなし"

#: D:\projects\youmoney\ui\panels.py:108 D:\projects\youmoney\ui\panels.py:129
#: D:\projects\youmoney\ui\panels.py:132 D:\projects\youmoney\ui\panels.py:134
msgid "No Category"
msgstr "カテゴリがなし"

#: D:\projects\youmoney\ui\panels.py:109
msgid "Can not delete this category!"
msgstr "このカテゴリを削除できない"

#: D:\projects\youmoney\ui\panels.py:110 D:\projects\youmoney\ui\panels.py:117
msgid "Notice:"
msgstr "注意:"

#: D:\projects\youmoney\ui\panels.py:116
msgid ", all child categories will move to \"No Category\""
msgstr ", このカテゴリのすべてのチャルド\"カテゴリがなし\"へ移転"

#: D:\projects\youmoney\ui\panels.py:116
msgid "To delete category"
msgstr "カテゴリを削除"

#: D:\projects\youmoney\ui\panels.py:149
msgid "Delete category failure!"
msgstr "カテゴリを削除失敗！"

#: D:\projects\youmoney\ui\panels.py:149
msgid "Delete category information"
msgstr "カテゴリインフォメーションを削除"

#: D:\projects\youmoney\ui\panels.py:170
msgid " Date: "
msgstr " 日付: "

#: D:\projects\youmoney\ui\panels.py:172
msgid " Year: "
msgstr " 年: "

#: D:\projects\youmoney\ui\panels.py:174
msgid " Month:"
msgstr " 月: "

#: D:\projects\youmoney\ui\panels.py:175
msgid "  Sum: "
msgstr "  総計: "

#: D:\projects\youmoney\ui\panels.py:213
msgid "Payment"
msgstr "支払方法"

#: D:\projects\youmoney\ui\panels.py:214 D:\projects\youmoney\ui\panels.py:217
msgid "Explain"
msgstr "内訳"

#: D:\projects\youmoney\ui\panels.py:322 D:\projects\youmoney\ui\window.py:147
msgid "Payout List"
msgstr "支出リスト"

#: D:\projects\youmoney\ui\panels.py:324 D:\projects\youmoney\ui\window.py:146
msgid "Income List"
msgstr "収入リスト"

#: D:\projects\youmoney\ui\panels.py:328 D:\projects\youmoney\ui\window.py:148
msgid "Statistic"
msgstr "統計"

#: D:\projects\youmoney\ui\statpanel.py:16
#: D:\projects\youmoney\ui\statpanel.py:105
#: D:\projects\youmoney\ui\statpanel.py:115
#: D:\projects\youmoney\ui\statpanel.py:241
#: D:\projects\youmoney\ui\statpanel.py:242
msgid "All Categories"
msgstr "すべてのカテゴリ"

#: D:\projects\youmoney\ui\statpanel.py:30
msgid "Date Start:"
msgstr "開始日付:"

#: D:\projects\youmoney\ui\statpanel.py:33
msgid "  Date End: "
msgstr "  終了日付: "

#: D:\projects\youmoney\ui\statpanel.py:36
msgid "   Type "
msgstr " 種類 "

#: D:\projects\youmoney\ui\statpanel.py:38
#: D:\projects\youmoney\ui\statpanel.py:170
#: D:\projects\youmoney\ui\statpanel.py:214
#: D:\projects\youmoney\ui\statpanel.py:240
msgid "Surplus"
msgstr "残金"

#: D:\projects\youmoney\ui\statpanel.py:43
msgid "   Category "
msgstr "  カテゴリ "

#: D:\projects\youmoney\ui\statpanel.py:51
msgid "Categroy Stat"
msgstr "分類"

#: D:\projects\youmoney\ui\statpanel.py:53
msgid "Month Stat"
msgstr "月額"

#: D:\projects\youmoney\ui\window.py:60
msgid "You db file is in default path, strongly advise save it to other path."
msgstr "現在のデータベースファイルがインストールディレクトリに保存されていますので、ソフトをアンインストールしたり、システムを再インストールしたりよりデータをなくなる恐れがあるため、他の場所へ保存するのはお勧めです。"

#: D:\projects\youmoney\ui\window.py:60 D:\projects\youmoney\ui\window.py:509
msgid "Note:"
msgstr "注意:"

#: D:\projects\youmoney\ui\window.py:78
msgid "Password error."
msgstr ""

#: D:\projects\youmoney\ui\window.py:87
msgid "Database file: "
msgstr "データベースファイル: "

#: D:\projects\youmoney\ui\window.py:131
msgid "New database file"
msgstr "新規データベースファイル"

#: D:\projects\youmoney\ui\window.py:132
msgid "Open database file"
msgstr "データベースファイルを開く"

#: D:\projects\youmoney\ui\window.py:133
msgid "Database file save as"
msgstr "データベースファイルを名前付けて保存"

#: D:\projects\youmoney\ui\window.py:137
msgid "Exit"
msgstr "終了"

#: D:\projects\youmoney\ui\window.py:138
msgid "File"
msgstr "ファイル"

#: D:\projects\youmoney\ui\window.py:142 D:\projects\youmoney\ui\window.py:143
#: D:\projects\youmoney\ui\window.py:202
msgid "Add Income"
msgstr "収入を追加"

#: D:\projects\youmoney\ui\window.py:149
msgid "Edit"
msgstr "編集"

#: D:\projects\youmoney\ui\window.py:152
msgid "Simple Chinese"
msgstr "中国語"

#: D:\projects\youmoney\ui\window.py:153
msgid "English"
msgstr "英語"

#: D:\projects\youmoney\ui\window.py:154
msgid "Japanese"
msgstr "日本語"

#: D:\projects\youmoney\ui\window.py:157
msgid "Language"
msgstr "言語"

#: D:\projects\youmoney\ui\window.py:158
msgid "View"
msgstr "表示"

#: D:\projects\youmoney\ui\window.py:161
msgid "About Information"
msgstr "YouMoneyのバージョン情報"

#: D:\projects\youmoney\ui\window.py:162
msgid "About"
msgstr "ヘルプ"

#: D:\projects\youmoney\ui\window.py:203
msgid "Add Payout"
msgstr "支出を追加"

#: D:\projects\youmoney\ui\window.py:227
msgid "Choose database file:"
msgstr "データベースファイルを選択"

#: D:\projects\youmoney\ui\window.py:230 D:\projects\youmoney\ui\window.py:250
#: D:\projects\youmoney\ui\window.py:275
msgid "YouMoney Database (*.db)|*.db"
msgstr "YouMoney データベースファイル (*.db)|*.db"

#: D:\projects\youmoney\ui\window.py:259 D:\projects\youmoney\ui\window.py:286
msgid "File exist"
msgstr "ファイルを既に存在する"

#: D:\projects\youmoney\ui\window.py:259 D:\projects\youmoney\ui\window.py:286
#: D:\projects\youmoney\ui\window.py:291
msgid "Can not save database file"
msgstr "データベースファイルを保存できない"

#: D:\projects\youmoney\ui\window.py:291
msgid "Save databse file failture:"
msgstr "データベースファイルを保存失敗"

#: D:\projects\youmoney\ui\window.py:341
msgid "Add category failture:"
msgstr "カテゴリを追加失敗:"

#: D:\projects\youmoney\ui\window.py:341
msgid "Add category information"
msgstr "カテゴリインフォメーションを追加"

#: D:\projects\youmoney\ui\window.py:351
msgid "Change category failture:"
msgstr "カテゴリを変更失敗:"

#: D:\projects\youmoney\ui\window.py:351
msgid "Change category information"
msgstr "カテゴリインフォメーションを変更失敗"

#: D:\projects\youmoney\ui\window.py:360
msgid "Can not add income item"
msgstr "収入を追加できない"

#: D:\projects\youmoney\ui\window.py:360 D:\projects\youmoney\ui\window.py:425
msgid "Add category first!"
msgstr "カテゴリが無いため、カテゴリを追加してください!"

#: D:\projects\youmoney\ui\window.py:393
msgid "Add payout failture:"
msgstr "支出を追加できない:"

#: D:\projects\youmoney\ui\window.py:393
msgid "Add payout information"
msgstr "支出明細を追加"

#: D:\projects\youmoney\ui\window.py:413 D:\projects\youmoney\ui\window.py:479
msgid "Change income failture:"
msgstr "収入を変更失敗:"

#: D:\projects\youmoney\ui\window.py:413 D:\projects\youmoney\ui\window.py:479
msgid "Change income information"
msgstr "収入明細を変更"

#: D:\projects\youmoney\ui\window.py:425
msgid "Can not add payout item"
msgstr "支出を追加できない"

#: D:\projects\youmoney\ui\window.py:458
msgid "Add income failture:"
msgstr "収入を追加失敗:"

#: D:\projects\youmoney\ui\window.py:458
msgid "Add income information"
msgstr "収入明細を追加"

#: D:\projects\youmoney\ui\window.py:509
msgid "Language changed! You must restart youmoney !"
msgstr "言語を変更しました！再起動から生効！"

#: D:\projects\youmoney\ui\window.py:516
msgid "YouMoney is a opensource personal finance software write by Python language."
msgstr "YouMoneyはpythonの言語を使用して作られたオペンソースソフトです。"

#: D:\projects\youmoney\ui\window.py:518
msgid "YouMoney home page"
msgstr "YouMoneyのホームペッジ"

#: D:\projects\youmoney\ui\window.py:540
msgid "Password must not null."
msgstr ""

#: D:\projects\youmoney\ui\window.py:544
msgid "Different password."
msgstr ""

